:root {
  background-color:black;
}
@font-face {
  font-family: UNCtitle;
  src: url("fonts/Arvo-Regular.ttf");
}
@font-face {
  font-family: UNCbody;
  src: url("fonts/OpenSans-Regular.ttf");
}
h1 {
  color:blueviolet;
  font-family: UNCtitle;
}
h2 {
  color:blueviolet;
  font-family: UNCtitle;
}
p {
  font-family: UNCbody;
}
