:root {
    background-color: #1a001a;
}
@font-face {
  font-family: Title;
  src: url("fonts/Domine-VariableFont_wght.ttf");
}
@font-face {
  font-family: Body;
  src: url("fonts/Urbanist-VariableFont_wght.ttf");
}
h1, h2 {
  font-family: Title;
  color: #6a0dad;
  text-align: center;
}
li {
  margin-bottom: 10px;
}
ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
section {
  border: 2px solid #6a0dad;
  border-radius: 8px;
  background-color: #2c003e;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
}
img.base {
  display: block;
  margin: 20px auto;
  height: 60px;
}
img.portrait {
  display: block;
  margin: 15px auto;
  max-width: 300px;
  border: 3px solid #6a0dad;
  border-radius: 10px;
}
body {
  color: #e6ccff;
  font-family: Body;
  margin: 0;
  padding: 20px;
}
nav {
  text-align: center;
  margin-bottom: 20px;
}
nav a {
  color: #e6ccff;
}
nav a:hover {
  color: #bb33ff;
}
.date {
  color: #bb33ff;
  font-style: italic;
}
